@model RegistrationAndLogin.Models.UserDb

@{
    ViewBag.Title = "LogIn";
   
}

<!-- css files -->
<link rel="stylesheet" href="~/eventregister1/css/style.css" type="text/css" media="all" />
<!-- Style-CSS -->
<link rel="stylesheet" href="~/eventregister1/css/font-awesome.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/eventregister1/css/style.css">
<h2 style="text-align:center;font-size:30px">Log In</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" style="width:40%;margin-top:2%">

        <div class="form-style-agile">
            @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "pom-agile" } })
                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-style-agile">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "pom-agile" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-style-agile">
            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-style-agile">

            <div class="form-style-agile">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sign In" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>



}

